
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]64/
ipch/
*.obj
*.pdb
*.idb
*.pch
*.aps
*.ncb
*.opendb
*.tlog
*.lastbuildstate
*.cachefile
*.VC.db
*.VC.VC.opendb
*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.exe
*.dll
*.lib
*.app
*.iobj
*.ipdb

*.trx
*.coverage
*.coveragexml

*.nupkg
*.snupkg

*.bak
*.tmp
*.swp
*.opendb
*.db

[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/

.idea/
*.iml
out/
